.form-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  min-width: 350px;
  position: relative;
  width: 60%;
}

.alert-container {
  display: flex;
  height: 0;
  justify-content: center;
  position: relative;
  width: 100%;
}
