.form-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  position: relative;
  width: 30%;
}

#brake {
  display: none;
}

@media (max-width: 768px) {
  .form-1 {
    width: 60%;
  }

  #brake {
    display: block;
  }
}

@media (max-width: 425px) {
  .form-1 {
    width: 80%;
  }
}
