.form-2 {
  min-width: 350px;
  width: 60%;
}

.remember-me {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  height: fit-content;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
}

.remember-me label {
  color: var(--white);
  cursor: pointer;
}

.remember-me input {
  border: none;
  cursor: pointer;
  height: 1rem;
  outline: none;
  width: 1rem;
}
