.caption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.3rem;
  padding-inline: 0.5rem;
  border-radius: 0.5rem;
  background-color: #212134;
  height: 8rem;
  width: 2.5rem;
  overflow: hidden;

  position: fixed;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  transition: all 0.3s;
}

.caption:hover {
  width: 10rem;
  transition: 0.4s;
}

.caption > div {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.description {
  font-size: 0.8rem;
  opacity: 0;
  transition: opacity 0.2s ease;
  position: absolute;
  left: 2.3rem;
  white-space: nowrap;
}

.caption:hover p {
  opacity: 1;
  max-width: 10rem;
}

#high,
#medium,
#low,
#note {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 0.4rem;
  position: relative;
  overflow: hidden;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
#high {
  background-color: var(--red);
}
#medium {
  background-color: var(--orange);
}
#low {
  background-color: var(--green);
}
#note {
  background-color: var(--blue);
}

.amount-tasks {
  position: relative;
  font-weight: 500;
  font-size: 0.8rem;
}

