.form-2 {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.remember-me {
  align-items: center;
  display: flex;
  margin-top: 0.5rem;
  gap: 0.5rem;
  height: fit-content;
  justify-content: center;
  width: 100%;
}

.remember-me label {
  color: var(--white);
  cursor: pointer;
}

.remember-me input {
  border: none;
  cursor: pointer;
  height: 1rem;
  outline: none;
  width: 1rem;
}

@media (max-width: 768px) {
  .form-2 {
    width: 60%;
  }
}

@media (max-width: 425px) {
  .form-2 {
    width: 80%;
  }
}
