.input-container {
  height: 2.8rem;
  position: relative;
  width: 100%;
}

.input-container input {
  background-color: var(--white-transparent);
  border: none;
  border-radius: 0.6rem;
  color: var(--white);
  font-size: 1rem;
  height: 2.8rem;
  padding-inline: 1rem;
}

.input-container input:focus {
  font-weight: 500;
  outline: 2px solid var(--blue);
}

.eye-btn {
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  display: block;
  outline: none;
  padding: 0 0.2rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

.eye-btn i {
  color: #a3a3a3;
  font-size: 1.2rem;
}
