.input-select {
  position: relative;
  width: 100%;
}

.input-select::after {
  color: #ffffff80;
  content: "◢";
  font-size: 0.6rem;
  pointer-events: none;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.input-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-color: var(--white-transparent);
  border: none;
  border-radius: 0.6rem;
  color: var(--white);
  cursor: pointer;
  height: 2.8rem;
  outline: none;
  padding-inline: 1rem;
  width: 100%;
}

.input-select select:focus {
  outline: 2px solid var(--blue);
}

.input-select select option {
  background-color: #212134;
  color: var(--white);
  font-weight: 300;
}
