.card {
  background-color: var(--white-transparent);
  border-radius: 0.8rem;
  box-shadow: 0 0.5rem 0.8rem #0000004f;
  height: fit-content;
  margin-bottom: 1.5rem;
  padding: 1.6rem 2rem 2rem 3rem;
  position: relative;
  width: 100%;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.015);
  transition: 0.2s;
}

.card-priority {
  border-radius: 0.8rem 0 0 0.8rem;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 0.8rem;
}

.green {
  background-color: var(--green);
}
.orange {
  background-color: var(--orange);
}
.red {
  background-color: var(--red);
}
.blue {
  background-color: var(--blue);
}

.btn-options {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: 1.5rem;
  z-index: 100;
}

.btn-options i {
  color: #ffffff80;
  font-size: 1.1rem;
}

.btn-options:hover {
  cursor: pointer;
}

.options-modal {
  background-color: var(--dark-blue);
  border-radius: 0.6rem;
  box-shadow: 0 0.4rem 0.6rem #0000004b;
  display: flex;
  flex-direction: column;
  outline: 1px solid var(--blue);
  padding: 0.5rem;
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  width: fit-content;
}

.options-modal-hide {
  animation: fadeOut 0.05s ease-in-out;
  display: none;
}

.options-modal-show {
  animation: fadeIn 0.05s ease-in-out;
  display: flex;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.options-modal button {
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  color: var(--white);
  padding: 0.5rem 1rem;
}

.options-modal button:hover {
  background-color: var(--blue);
  cursor: pointer;
  transition: 0.2s;
}

.options-modal button:hover i {
  color: var(--white);
  transition: 0.2s;
}

.options-modal button i {
  color: var(--blue);
  margin-right: 0.2rem;
}

.card h2 {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.content {
  color: var(--white);
  font-size: 1rem;
  margin-bottom: 1rem;

  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.card-footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: space-between;
  width: 100%;
}

.card-footer i {
  font-size: 0.8rem;
  margin-right: 0.3rem;
}

.date {
  color: var(--white);
  font-size: 0.8rem;
  font-weight: 500;
  height: fit-content;
  margin: 0;
  width: fit-content;
}

.card-type {
  align-items: center;
  display: flex;
  height: fit-content;
  gap: 0.5rem;
  width: fit-content;
}

.type {
  border: 2px solid var(--white-transparent);
  border-radius: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.3rem 0.6rem;
  margin: 0;
}

.check-btn-hide {
  display: none;
}

.check-btn-show {
  align-items: center;
  background-color: var(--blue);
  border: none;
  border-radius: 0.5rem;
  color: var(--white);
  cursor: pointer;
  display: flex;
  font-size: 1rem;
  height: 1.5rem;
  justify-content: center;
  padding: 0;
  width: 1.5rem;
}

.check-btn-show i {
  font-size: 1.2rem;
  margin: 0;
}

.check-btn-show:hover {
  background-color: var(--blue-hover);
  transition: 0.4s;
}
