.card {
  background-color: var(--white-transparent);
  border-radius: 0.8rem;
  box-shadow: 0 0.5rem 0.8rem #0000004f;
  height: fit-content;
  margin-bottom: 1.2rem;
  padding: 1.2rem 2rem 1.2rem 3rem;
  position: relative;
  width: 100%;
}

.card-open {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
}

.card:hover {
  cursor: zoom-in;
  transform: scale(1.015);
  transition: 0.2s;
}

.options {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: absolute;
  right: 2rem;
}

.edit,
.delete {
  background-color: transparent;
  border: none;
  color: #ffffff80;
  cursor: pointer;
}

.edit:hover {
  color: var(--blue);
  transition: 0.3s;
}

.delete:hover {
  color: var(--red);
  transition: 0.3s;
}

.card-priority {
  border-radius: 0.8rem 0 0 0.8rem;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 0.8rem;
}

.green {
  background-color: var(--green);
}
.orange {
  background-color: var(--orange);
}
.red {
  background-color: var(--red);
}
.blue {
  background-color: var(--blue);
}

.card h2 {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 70%;
  white-space: nowrap;
}

.content {
  color: var(--white);
  font-size: 1rem;
  margin-bottom: 1rem;
  word-wrap: break-word;
  hyphens: auto;

  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.card-footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: space-between;
  width: 100%;
}

.card-footer i {
  font-size: 0.8rem;
  margin-right: 0.3rem;
}

.date {
  color: var(--white);
  font-size: 0.8rem;
  font-weight: 500;
  height: fit-content;
  margin: 0;
  width: fit-content;
}

.card-type {
  align-items: center;
  display: flex;
  height: fit-content;
  width: fit-content;
}

.type {
  border: 2px solid var(--white-transparent);
  border-radius: 0.5rem;
  color: #ffffff80;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.3rem 0.6rem;
  margin: 0;
}

.card-type > i {
  border: 2px solid var(--white-transparent);
  border-radius: 0.5rem;
  color: var(--blue);
  font-size: 1.2rem;
  margin: 0;
  margin-left: 0.5rem;
  padding-inline: 0.3rem;
}

.check-btn-hide {
  display: none;
}

.check-btn-show {
  align-items: center;
  background-color: var(--blue);
  border: none;
  border-radius: 0.5rem;
  color: var(--white);
  cursor: pointer;
  display: flex;
  font-size: 0.8rem;
  font-weight: 400;
  height: 1.5rem;
  justify-content: center;
  margin-left: 0.5rem;
  overflow: hidden;
  padding-inline: 0.6rem;
  transition: width 0.6s, background-color 0.6s;
}

.check-btn-show:hover {
  background-color: var(--blue-hover);
}
