.card {
  background-color: var(--white-transparent);
  border-radius: 0.8rem;
  box-shadow: 0 0.5rem 0.8rem #0000004f;
  height: fit-content;
  margin-bottom: 1.2rem;
  padding: 1.2rem 2rem 1.2rem 3rem;
  position: relative;
  width: 100%;
}

.card:hover {
  transform: scale(1.015);
  transition: 0.2s;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}

.options {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
}

.edit,
.delete,
.open-task,
.expand,
.save-update {
  background-color: transparent;
  border: none;
  color: #ffffff80;
  cursor: pointer;
  display: flex;
  height: 1.8rem;
  width: 1.8rem;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 0.5rem;
  padding: 0.2rem 0.5rem;
  transition: background-color 0.3s;
}

.edit:disabled,
.delete:disabled,
.open-task:disabled,
.expand:disabled,
.save-update:disabled {
  cursor: not-allowed;
  color: #ffffff38;
}
.edit:disabled:hover,
.delete:disabled:hover,
.open-task:disabled:hover,
.expand:disabled:hover,
.save-update:disabled:hover {
  color: #ffffff38;
  cursor: not-allowed;
  background-color: transparent;
}

.delete {
  position: relative;
}

.save-update {
  display: none;
}

.open-task i {
  font-size: 1.2rem;
}

.delete:hover {
  background-color: var(--red);
  color: var(--white);
  transition: 0.3s;
}

.edit:hover,
.open-task:hover,
.expand:hover,
.save-update:hover {
  color: var(--white);
  background-color: var(--blue);
  transition: 0.3s;
}

.card-priority {
  border-radius: 0.8rem 0 0 0.8rem;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 0.8rem;
}

.green {
  background-color: var(--green);
}
.orange {
  background-color: var(--orange);
}
.red {
  background-color: var(--red);
}
.blue {
  background-color: var(--blue);
}

hr {
  border: 1px solid #ffffff17;
  margin: 0;
  margin-bottom: 1rem;
}

.title {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 70%;
  white-space: nowrap;
}

.content {
  color: var(--white);
  font-size: 1rem;
  margin-bottom: 1.5rem;
  word-wrap: break-word;
  hyphens: auto;

  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.content-modal {
  display: block;
}

.card-footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: space-between;
  width: 100%;
}

.card-footer-icon {
  font-size: 0.8rem;
  margin-right: 0.3rem;
}

.date {
  color: #ffffff80;
  font-size: 0.8rem;
  font-weight: 500;
  height: fit-content;
  margin: 0;
  width: fit-content;
}

.card-type {
  align-items: center;
  display: flex;
  height: fit-content;
  width: fit-content;
}

.type {
  border: 2px solid var(--white-transparent);
  border-radius: 0.5rem;
  color: #ffffff80;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.3rem 0.6rem;
  margin: 0;
}

.card-type > i {
  border-radius: 0.5rem;
  color: var(--blue);
  font-size: 1.4rem;
  margin: 0;
  margin-right: 0.5rem;
  padding-inline: 0.3rem;
}

.check-btn-hide {
  display: none;
}

.check-btn-show {
  align-items: center;
  background-color: var(--blue);
  border: none;
  border-radius: 0.5rem;
  color: var(--white);
  cursor: pointer;
  display: flex;
  font-size: 0.8rem;
  font-weight: 400;
  height: 1.5rem;
  justify-content: center;
  margin-right: 0.5rem;
  overflow: hidden;
  padding-inline: 0.6rem;
  transition: background-color 0.3s;
}

.check-btn-show:hover {
  background-color: var(--blue-hover);
}

.check-btn-show:disabled {
  background-color: #ffffff38;
  cursor: not-allowed;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px);
  z-index: 100;
  display: none;
  pointer-events: none;
}

.overlay.active {
  display: block;
  pointer-events: all;
}

.delete-modal {
  display: none;
  border-radius: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 1px solid var(--blue);
  gap: 0.5rem;
  background-color: #212134;
  box-shadow: 0 0.4rem 0.6rem #0000004b;
  width: 15rem;
  padding: 1rem 1rem;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.delete-modal.active {
  display: flex;
}

.delete-modal > p {
  color: var(--white);
  font-size: 0.8rem;
  text-align: center;
  margin: 0;
}

.confirm-btns {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  width: 100%;
}

.delete-modal button {
  border: none;
  border-radius: 0.4rem;
  background-color: var(--white-transparent);
  color: var(--white);
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.3rem 0;
  width: 35%;
}

#yes:hover {
  background-color: var(--red);
  color: var(--white);
  transition: 0.3s;
}

#no:hover {
  background-color: var(--blue);
  color: var(--white);
  transition: 0.3s;
}
