.container {
  position: relative;
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.left-container,
.right-container {
  align-items: center;
  display: flex;
  flex: 1;
  height: 100%;
}
.left-container {
  justify-content: flex-end;
}
.right-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  color: var(--white);
  font-weight: 200;
  margin-bottom: 2rem;
}

#link-to {
  color: var(--blue);
  font-weight: 700;
  text-decoration: none;
}

#copyright {
  bottom: 1.5rem;
  font-size: 0.8rem;
  position: absolute;
}

#copyright > span {
  font-size: 0.8rem;
  font-weight: 700;
}
